    <!-- Callouts -->
    <div class="callout callout--primary">
        <div class="grid grid--1x2">
            <div class="callout__content">
                <h2 class="callout__heading">
                    Ready To Get Started?
                </h2>
                <p class="callout__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, iure laboriosam id dolor corrupti eligendi minima eveniet voluptates illum facilis.
                </p>
            </div>
            <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
         </div>
    </div>
